DATABASE_URL="postgres://elevate_user:elevate_pass123@localhost:5433/elevate_db_test"
DATABASE_URL_PRISMA_DATABASE_URL="postgres://elevate_user:elevate_pass123@localhost:5433/elevate_db_test"
SECRET_JWT="KAFJCMDAFJCJDLAQPFWMASDPADUWQPWM"
SALT_ROUNDS=10
RESEND_API_KEY="re_xxxxxxxx"
RESEND_FROM_EMAIL="Elevate <onboarding@resend.dev>"
NEXT_PUBLIC_APP_URL="http://localhost:3000"


RESEND_API_KEY="re_tu_api_key"
RESEND_FROM_EMAIL="recuperar@resend.dev"