DATABASE_URL="postgres://elevate_user:elevate_pass123@localhost:5433/elevate_db_test"
DATABASE_URL_PRISMA_DATABASE_URL="postgres://elevate_user:elevate_pass123@localhost:5433/elevate_db_test"
SECRET_JWT="KAFJCMDAFJCJDLAQPFWMASDPADUWQPWM"
SALT_ROUNDS=10
